/*region general*/
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    --main-ff: "Roboto";
    --secondary-ff: "Roboto";
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

body {
    font-family: var(--main-ff), sans-serif;
    font-weight: 700;
    color: var(--slate);
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

/*endregion general*/

/*region header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.logo-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    text-transform: uppercase;
    font-family: var(--secondary-ff), sans-serif;
    letter-spacing: 0.03em;
    color: var(--iris);
    margin-right: 76px;
}

.logo-name-part {
    color: #2E2F42;
}

.nav-item > a {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item > a:hover, a:focus {
    color: #404bbf;
}

.active > a {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active > a::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contacts-item > a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item > a:hover, a:focus {
    color: #404BBF;
}

.addresses-item {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addresses {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/*endregion header*/

/*region main*/

/*region hero*/
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 107%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    margin: 0 auto 48px auto;
    max-width: 496px;
}

.hero-button {
    background-color: var(--iris);
    font-family: var(--main-ff), sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
}

/*endregion hero*/

/*region advantages*/
.advantages-header-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.advantages-item {
    width: calc((100% - 72px) / 4) ;
}

.advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.advantages-icon svg {
    display: block;
    margin: 0 auto;
    fill: var(--iris);
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


/*endregion advantages*/

/*region team*/

.team {
    background: #F4F4FD;
}

.team-header-title {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4) ;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-info {
    padding: 32px 0
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
}

.team-icon-svg {
    fill: var(--cloud);
}

/*endregion team*/

/*region portfolio*/

.team {
    background: #F4F4FD;
}

.portfolio-header-title {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/*endregion portfolio*/

/*endregion main*/

/*region footer*/

.page-footer {
    background: #2E2F42;
    padding: 100px 0;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo-wrapper {
    margin-right: 120px;
}

.footer-logo-name {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    font-family: var(--secondary-ff), sans-serif;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-name-part {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: var(--secondary-ff), sans-serif;
    color: #F4F4FD;
}

.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social-wrapper {
    margin-right: 80px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: var(--cloud);
}

.footer-form-wrapper {

}

.footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-email-label {

}

.footer-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-email::placeholder {
    color: #ffffff;
}

.footer-submit-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-submit-icon {
    margin-left: 16px;
    fill: #ffffff;
}

/*endregion footer*/

/*region modal*/
.hide-popup {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    height: 100%;
    width: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    max-width: 408px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-modal {
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-icon:hover, .close-modal-icon:focus {
    fill: #ffffff
}

.modal-title {
    font-family: var(--main-ff), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
    text-align: center;
}

.modal-form {

}

.modal-form-item {
    margin-bottom: 8px;
}

.modal-form-item-textarea {
    margin-bottom: 16px;
}

.modal-form-item-label {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}

.model-form-item-field {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    line-height: 1.17;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-item-field:focus {
    border-color: #4D5AE5;
}

.model-form-item-field:focus + svg {
    fill: #4D5AE5;
}

.modal-form-item-wrapper {
    position: relative;
}

.model-form-item-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-item-textarea {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-item-textarea:focus {
    border-color: #4D5AE5;
}

.model-form-item-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-item-checkbox {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.modal-form-item-checkbox-input {

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-form-item-checkbox-label {
    font-family: var(--main-ff), sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
    gap: 8px;
}

.checkbox-icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox-svg {
    width: 10px;
    height: 8px;
}

.modal-form-item-checkbox-input:checked + .modal-form-item-checkbox-label .checkbox-icon {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}


.modal-form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto 8px auto;
    padding: 16px 32px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
}
/*endregion modal*/